h1, h2, h3, h4, h5, h6 {
    .fontmont;
	text-transform: uppercase;
}
.vc_separator h4 {
    font-weight: 400;
}
.with_frm_style .limit-width .form-field .placeholder {
    font-style: normal;
}

//careers page css here coz I hadn't created a CSS page styles file before
.lisofwork {
    padding-bottom: 15px;
    .row {margin: 0;}
    .vc_col-sm-4.wpb_column.vc_column_container {padding: 0; margin-bottom: 0;}
    .wpb_wrapper {
        margin: 1px;
        padding: 15px;
        background: #F3F3F3;
        text-align: center;
        h3.header_font {
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 15px;
            margin-top: 20px;
            color: #333;
        }
        p {margin-bottom: 10px; color: #666;}
        a.openings_link {
            font-weight: bold;
            display: block;
            margin-top: 25px;
            margin-bottom: 15px;
            color: #145994;
        }
        box-shadow: inset 0 0 0 0 rgba(255,255,255,0.5), inset 0 0 0 0 #fff;
        transition: all 0.5s linear;
        transition-delay: 0;
        &:hover {
            box-shadow: inset 0 0 100px 800px rgba(255, 255, 255, 0.5), inset 0 0 16px 0px #ffffff;
            transition: all 0.5s linear;
            transition-delay: 0;
        }
    }
}
.tablejob {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    .job_title {
        .fontmont;
        font-size: 16px;
    }
    a.wpb_button_a span.wpb_button {
        margin-top: 0;
        text-transform: uppercase;
        font-weight: normal;
    }
}
#main {
    @media screen and (max-width: 767px) {
        padding: 25px;
        .tablejob .prk_inner_block .row {text-align: center;}
    }
}