//menu
.menu-sing {
    .sf-menu > li {
        float: none;
        a {
            color: rgb(178, 179, 181) !important;
            &:hover {color: #fff !important;}
        }
    }
    .sf-menu > li.div {
        float: none;
        width: 35px !important;
        height: 1px;
        background-color: #7c7c7c;
        margin: 15px auto;
        margin-bottom: 25px;
        @media screen and (max-width: 769px) {
            display: none;
        }
    }
    .sf-menu > li.title h4 {
        color: #fff;
        font-weight: normal;
        font-size: 24px;
        margin-bottom: 10px;
    }
}

#full_fi_c img {
    max-width: none;
    width: 100%;
    height: auto;
    &.heightadjust {
        position: absolute;
        width: auto !important;
        max-width: none;
        height: 100% !important;
        left: 50%;
        margin-left: -50%;
        z-index: 1;
        // -webkit-transform: translateX(-50%);
        // -moz-transform: translateX(-50%);
        // -ms-transform: translateX(-50%);
        // -o-transform: translateX(-50%);
        // transform: translateX(-50%);
    }
}
.no-csstransforms #full_fi_c img.heightadjust {
    top: 0 !important;
}

#prk_ajax_container {
    .full_fi_title {
        position: absolute;
        top: 25px;
        right: 0;
        z-index: 2;
        p {
            background: rgba(72, 72, 72, 0.4);
            padding: 4px 10px;
            color: #fff;
            /*.fontmont;*/
        }
        @media screen and (max-width: 769px) {
            top: 99px;
        }
    }
    .go_d_see {
        position: absolute;
        bottom: 20px;
        // left: 59%;
        background-image: url(img/go_down.png);
        background-color: rgba(67, 64, 60, 0.6);
        background-repeat: no-repeat;
        background-position: center center;
        width: 35px;
        height: 24px;
        z-index: 2;
        @media screen and (max-width: 769px) {
            left: 50% !important;
            margin-left: -14.5px;
        }
    }
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block {
    background: #fff;
    // margin-top: 677px;
    padding-top: 60px;
    @media screen and (max-width: 769px) {
        padding-top: 0;
    }
    @media screen and (max-width: 769px) {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
    }
    h4, h5 {
        // margin-top: 25px;
        margin-top: 0;
        margin-bottom: 30px;
//        font-size: 20px;
    }
    h5 {font-size: 18px; text-transform: uppercase; line-height: 14px;}

    .wpb_text_column p {
        margin-bottom: 25px !important;
    }
    .wpb_single_image .wpb_wrapper {
        position: relative;
        .boxed_shadow {-webkit-box-shadow: 0 0 0 #fff; box-shadow: 0 0 0 #fff;}
        .prk_shortcode-title {
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            background: rgba(0,0,0,0.5);
            z-index: 5;
            div {
                color: #fff;
                font-size: 13px;
                padding: 13px 20px;
                margin: 0;
                font-weight: normal;
            }
        }
    }
    .indi_map_area .wpb_wrapper {
        iframe {
            width: 100% !important;
            @media screen and (max-width: 769px) {
                min-height: 300px !important;
            }
        }
        .wpb_text_column p {
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
    }
    .wpb_call_to_action .wpb_button_a {
        span {
            background: #666;
        }
        .wpb_arrow i {
            background: none;
            font-style: normal;
            &:after {
                content: '\f105';
                font-family: 'FontAwesome';
            }
        }
    }
    .indi_map_cta {
        margin-top: 30px;
        background: #666;
        border-color: #555;
        font-weight: normal;
        text-transform: uppercase;
        white-space: nowrap;
        i {
            background: none;
            font-style: normal;
            &:after {
                content: '\f105';
                font-family: 'FontAwesome';
            }
        }
        &:hover {
            background: #505050;
            border-color: #3f3f3f;
        }
        &:active, &:focus {
            background: #505050;
            border-color: #3b3b3b;
        }
    }
    .archi_si {
        margin-top: 45px;
        h5 {
            margin-top: 0;
            line-height: 14px;
        }
    }
    .la_g {
        .wpb_wrapper {
            width: 85%;
            margin: 0 auto;
            text-align: justify;
        }
        .vc_column_container {
            margin-bottom: 0;
        }
    }
    .am_h {
        // margin-top: 55px;
        @media screen and (max-width: 769px) {
            margin-top: 0;
        }
    }
    .am_d {
        padding-bottom: 10px;
    }
    .m_t_b_m {
        padding-top: 10px;
        padding-bottom: 25px;
    }
    .wpb_tabs {
        margin-bottom: 50px;
    }
    .wpb_video_widget  {
        margin-top: 25px;
        padding-bottom: 5px;
    }
    .m_t_m {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .vc_separator.section_ender {
        width: 60%;
        // margin: 49px auto 51px;
        margin: 15px auto 51px;
        padding: 0;
        .vc_sep_holder {
            height: 1px;
            .vc_sep_line {border-color: #D1D1D1;}
        }
    }
    .le_p_m, .se_o_6, .do_3 {
        .row {margin: 0;} //was -6
        .wpb_column {
            padding: 0;
            .wpb_wrapper .prk_service {
                background: #f3f3f3;
                margin-left: 1px;
                margin-right: 1px;
                padding: 25px;
                h3 {display: none}
                img {
                    // padding-bottom: 20px;
                }
            }
        }
    }
    .le_p_m {
        .wpb_wrapper .show_h {
            h3 {
                display: block !important;
                /*.fontmont;*/
                font-size: 16px;
                font-weight: normal;
                margin-top: 0;
                margin-bottom: 18px;
                text-shadow: 0 0 0 #fff;
            }
        }
        .prk_service.prk_service_center {
            & > div:nth-of-type(1) {
                max-height: 171px;
                overflow: hidden;
            }
        }
        .prk_service_ctt {
            margin-top: 10px;
        }
    }
    .se_o_6 {
        .wpb_column {
            .wpb_wrapper .prk_service {
                position: relative;
                margin-bottom: 2px;
                overflow: hidden;
                img {
                    transform: scale(1, 1);
                    opacity: 1;
                    visibility: visible;
                    padding-bottom: 10px;
                    transition: all 0.5s;
                }
                h3 {
                    display: block;
                    font-size: 16px;
                    font-weight: normal;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    text-shadow: 0 0 0 #fff;
                    transition: all 0.5s;
                }
                p {
                    margin-bottom: 2px;
                }
                .simple_line  {display: none;}
                .fade_anchor {
                    display: block;
                    padding: 5px 25px;
                    background: #999;
                    color: #fff !important;
                    position: absolute;
                    width: 100%;
                    bottom: -100%;
                    right: 0;
                    opacity: 0;
                    transition: all 0.5s;
                }
                &:hover {
                    //uncomment below lines when the hover effect is needed
//                    img {
//                        transform: scale(0, 0);
//                        opacity: 0;
//                        visibility: hidden;
//                    }
//                    h3 {color: #666; margin-top: -50px;}
//                    .fade_anchor {
//                        bottom: 0;
//                        opacity: 1;
//                    }
                }
            }
            .wpb_wrapper .prk_service.andmore {
                color: #999999;
                h3 {color: #666;}
                a {color: #333;}
            }
        }
    }
    .do_3 {
        margin-top: 25px;
        & > .row > .wpb_column > .wpb_wrapper {
            padding: 25px 70px;
            margin: 1px;
            background: #F3F3F3;
            h5 {
                margin-top: 0;
            }
            a {
                display: block;
                &:last-child:after {
                    content: '';
                    clear: both;
                    display: block;
                }
                span {
                    width: 100%;
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: normal;
                    &:hover {
                        background: #f5f5f5;
                        border-color: #666;
                    }
                    &:focus, &:active {
                        border-color: #606060;
                    }
                    &.half {
                        width: 49%;
                        &.left {
                            float: left;
                        }
                        &.right {
                            float: right;
                        }
                    }
                    &.wpb_btn-inverse {
                        background: #909090;
                        border-color: #848484;
                        &:hover {
                            background: #7c7c7c;
                            border-color: #6f6f6f;
                        }
                        &:active, &:focus {
                            border-color: #686868;
                        }
                    }
                    &.wpb_regularsize {
                        border-color: #848484;
                    }
                }
            }
            @media screen and (max-width: 1284px) {
                padding: 25px 50px;
            }
            @media screen and (max-width: 1164px) {
                padding: 25px 30px;
            }
            @media screen and (max-width: 1024px) {
                padding: 25px 180px;
            }
            @media screen and (max-width: 894px) {
                padding: 25px 130px;
            }
            @media screen and (max-width: 580px) {
                padding: 25px 60px;
            }
            @media screen and (max-width: 380px) {
                padding: 25px;
            }
        }
    }
        .wpb_tab  {
            text-align: center;
            width: 100% !important;
            & > .wpb_text_column, .download_prj {
                display: inline-block;
            }
            .download_prj {
                padding: 0;
                display: inline-block;
                span {
                    padding: 5px;
                    padding: 2px 7px;
                    width: 28px;
                    height: 28px;
                    font-size: 14px;
                    overflow: hidden;
                    display: inline-block;
                    text-indent: 99999px;
                    position: relative;
                    background: #f9f9f9;
                    color: #333;
                    border-color: #666;
                    text-shadow: 0 0 0 #fff;
                }
                &:hover {
                    span {
                        background: #f5f5f5;
                    }
                }
                &:focus {
                    span {
                        border-color: #606060;
                    }
                }
            }
            .icon {
                background: none;
                background-image: url(img/pdf_icon.png);
                background-repeat: no-repeat;
                background-position: center;
                float: left;
                margin-left: 0;
                margin-right: 10px;
                font-style: normal;
                padding-top: 3px;
                position: absolute;
                top: -2px;
                left: -1px;
                text-indent: 0;
                width: 28px;
                height: 28px;
                &:after {

                }
            }
        }
    .wpb_text_column p.btncol, .btncol {
        font-size: 0;
        text-align: center;
        .wpb_button_a {
            display: inline-block;
            font-size: 13px;
            .sep {
                margin-left: 20px
            }
            .wpb_btn-inverse {
                background: #909090;
                color: #fff;
                border-color: #848484;
            }
            .white {
                background: #fff;
                color: #333;
                border-color: #666;
                text-shadow: 0 0 0 #fff;
            }
            &:hover {
                .wpb_btn-inverse {
                    background: #7c7c7c;
                    border-color: #6f6f6f;
                }
                .white {
                    cursor: text;
                    background: #fff;
                }
            }
            &:active {
                .wpb_btn-inverse {
                    border-color: #686868;
                }
                .white {
                    box-shadow: 0 0 0 #000;
                }
            }
            span {
                font-weight: normal;
                font-size: 14px;
                text-transform: uppercase;
                padding: 13px;
            }
        }
        clear: both;
    }
    .owl-carousel {
        margin-top: 20px;
        margin-bottom: 33px;
        .owl-controls {top: 0}
        a.image-popup-no-margins {
            display: block;
            height: 170px;
            overflow: hidden;
            padding: 0;
            margin: 10px;
//            box-shadow: 0 0 0 3px #ffffff, 0 0 2px 3px rgba(0, 0, 0, 0.2);
            position: relative;
            top: 0;
            transition: all 0.5s;
            &:after {
//                content: '\f00e';
                font-family: 'FontAwesome';
                font-size: 24px;
                color: #fff;
                background: rgba(0, 0, 0, 1);
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                padding-top: 27%;
                visibility: hidden;
                opacity: 0;
                transition: all 0.5s;
            }
        }
        .item:hover .owl-carousel-item-imgoverlay {
            background: transparent;
            color: #444;
        }
        .item:hover .image-popup-no-margins {
//            box-shadow: 0 0 0 3px #ffffff, 0 0 5px 3px rgba(0, 0, 0, 0.4);
//            top: -5px;
            opacity: 0.5;
            &:after {
                opacity: 0.6;
                visibility: visible;
            }
        }
        .owl-carousel-item-imgoverlay {
            display: block;
            opacity: 1;
            position: relative;
            text-shadow: 0 0 0 #fff;
            color: #666;
            transition: all 0.5s;
            .owl-carousel-item-imgtitle {
                font-size: 14px;
                padding-top: 5px;
            }
        }
    }
    .formid_row {
        background: #f3f3f3;
        margin: 30px 0;
        margin-bottom: 0;
        h5 {
            margin-top: 20px;
            // margin-top: 16px;
            margin-bottom: 24px;
        }
        .le_form_t {
            width: 50%;
            margin: 0 auto;
            float: none !important;
            @media screen and (max-width: 769px) {
                width: 94%;
            }
            .frm_form_fields .frm_form_field input, .frm_form_fields .frm_form_field textarea {
                padding: 8px 12px !important;
                width: 100% !important;
                font-style: normal !important;
                &:active, &:focus {
                    color: #000 !important;
                }
            }
            .frm_submit {
                text-align: center;
                padding-bottom: 15px;
                input {text-transform: uppercase; /*.fontmont;*/ font-weight: normal;}
                input:disabled, input:disabled::hover {
                    background: #ddd !important;
                    border-color: #ccc !important;
                    cursor: nodrop;
                }
                .frm_ajax_loading {
                    margin-right: -20px;
                    margin-left: 0;
                    padding-left: 0;
                }
            }
            .frm_style_formidable-style.with_frm_style .frm_message {
                text-align: center;
                p {
                    margin-bottom: 0 !important;
                }
            }
            .frm_style_formidable-style.with_frm_style .frm_form_field select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-image: url(img/dd_arr.png) !important;
                background-position-x: 99%;
                background-position-y: center;
                background-position: right 10px center;
                background-repeat: no-repeat;
                height: 37px !important;
            }
        }
    }
    .sec_int {
        font-size: 14px;
        width: 89%;
        margin: 0 auto;
        .wpb_wrapper p {font-size: 14px; color:  #808080;}
    }
}
.indi_pr.nri_fullrow {
    margin-top: 0;
    margin-bottom: 0;
    h5 {font-size: 18x; text-transform: uppercase;}
    .wpb_button_a span {
        background: #666;
    }
}

.add_padd {
    .wpb_wrapper p {text-align: justify; font-size: 13px; color: #666666; margin-top: -5px;}
    .vc_col-sm-6:nth-child(1) > .wpb_wrapper {
        padding-left: 35px;
        padding-right: 25px;
//        padding-right: 6px;
        @media screen and (max-width: 1024px) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @media screen and (max-width: 769px) {
            padding-left: 0;
            padding-right: 0;
        }
    } .vc_col-sm-6:nth-child(2) > .wpb_wrapper {
//        padding-left: 6px;
        padding-left: 25px;
        padding-right: 35px;
        @media screen and (max-width: 1024px) {
            padding-left: 25px;
            padding-right: 25px;
            margin-top: 15px;
        }
        @media screen and (max-width: 769px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .wpb_call_to_action {padding-left: 0;}
    .wpb_single_image img {
        max-width: auto;
        width: 100%;
    }
    @media screen and (max-width: 769px) {
        .wpb_call_to_action {
            padding-right: 0;
        }
    }
}
.less_s_t {
    img {width: 100%;}
    p {margin-bottom: 1px;}
}

.neg_mar {
    margin-top: -15px !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .neg_mar.wpb_text_column p {
    margin-bottom: 5px !important;
}
.neg_mar .owl-carousel {
    margin-top: 15px !important;
}
.nri_fullrow.prk_section.prk_full_width.redsp {
    padding-top: 15px;
    .lesspac.wpb_content_element {
        margin-bottom: -5px;
    }
}
/*.wpb_call_to_action .wpb_button_a span.wpb_btn-inverse,*/ #prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit input {
    &:hover {
        background: #505050 !important;
        border-color: #3f3f3f !important;
    }
    &:focus, &:active {
        background: #505050 !important;
        border-color: #3b3b3b !important;
    }
}
@media screen and (max-width: 769px) {
    .samba_responsive .prk_section.prk_full_width.redsp {
        // width: 106.5%;
        width: auto;
        margin-left: -25px !important;
        margin-right: -25px !important;
        float: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .vc_row-fluid [class*="vc_col-sm-"], [class*="vc_col-sm-"] {
        float: none;
        width: 100%;
    }
}



.top_head {
    // margin-top: 25px;
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
    }
    .box {
        width: 27px;
        height: 16px;
        border: 1px solid #a7a7a7;
        margin-right: 5px;
        &.white_bg {
            background: #fff;
        }
        &.blue_bg {
            border-color: #d2d2d2;
        }
    }
    .text {
        margin-right: 16px;
        color: #999;
    }
    h6 {
        text-transform: none;
        color: #999;
    }
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .table-holder.owl-carousel.owl-theme {
    margin-top: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .tabular_c {
    position: relative;
    width: 100%;
    // height: 395px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 8px;
    // padding-right: 8px;
    padding-right: 4px;
    border-top: 7px solid #d3d3d3;
    @media screen and (max-width: 1239px) {
        // overflow-x: scroll;
    }
    .left, .right {
        display: none;
        width: 23px;
        height: 77px;
        line-height: 77px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 111px;
        z-index: 1;
        opacity: 0.1;
        transition: all 0.5s;
        &.active {
            opacity: 0.5;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .owl-buttons {
        background-color: transparent;
        top: 0;
        left: 0;
        margin: 0;
        .owl-prev, .owl-next {
            background-color: transparent;
            top: 0;
            margin: 0;
        }
        .owl-prev {
            left: 0;
            &.disabled {
                pointer-events: none;
                .left {
                    opacity: 0.1;
                    pointer-events: none;
                }
            }
        }
        .owl-next {
            right: 0;
            &.disabled  {
                pointer-events: none;
                .right {
                    opacity: 0.1;
                    pointer-events: none;
                }
            }
        }
        .left, .right {
            display: block;
            border-radius: 0;
            margin: 0;
            padding: 0;
            opacity: 1;
        }
    }
    .left {
        left: 8px;
    }
    .right {
        right: 8px;
    }
    .tabul_hold {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
    .tabular {
        width: 100%;
        display: table;
        border-collapse: collapse;
        table-layout: fixed;
        border: 1px solid #c9c9c9;
        border-top: 0;
        position: relative;
        &.tabul_main {
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
            // position: absolute;
            left: 0;
            & > .tab_row > .tab_col {
                width: 33.33%;
                @media screen and (max-width: 1024px) {
                    width: 50%;
                }
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
            }
        }
        &.inner {
            width: 100%;
            border: 0;
            .tab_col {
                border: 0;
                &:first-child {
                    border-right: 1px solid #c9c9c9;
                }
                @media screen and (max-width: 1239px) {
                    // width: 145px;
                }
            }
        }
    }
    .tab_row {
        display: table-row;
    }
    .tab_col {
        display: table-cell;
        width: 25%;
        height: 35px;
        font-size: 13px;
        vertical-align: middle;
        border-top: 1px solid #c9c9c9;
        border-right: 2px solid #b6b6b6;
        cursor: pointer;
        position: relative;
        // @media screen and (max-width: 1239px) {
        //     width: 292px;
        // }
        &.opened {
            .text_in {
                background: #f6fafa;
                border: 1px solid #000;
            }
        }
        &:last-child {
            border-right-width: 0;
        }
        &.blue_bg {
            cursor: auto;
        }
        .text_in {display: block; width: 100%; line-height: 35px;  border: 1px solid #fff;}
        &.blue_bg {
            .text_in {
                border-color: #daeaec;
            }
        }
        &.opened .popup_tab_data {
            display: block;
        }
    }
    .head .tab_col {
        border-top-width: 0;
        border-color: #b6b6b6;
        background: #f8f8f8;
        font-size: 14px;
        cursor: default;
    }
}

#prk_ajax_container .tabul_hold tr td {
    position: relative;
    &.opened {
        background-color: #f6fafa;
        border-color: #000;
        -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9) inset;
        -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9) inset;
        -ms-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9) inset;
        -o-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9) inset;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.9) inset;
    }
}
.popup_tab_data {
    display: none;
    position: absolute;
    width: 250px;
    height: 130px;
    top: 93%;
    left: 0;
    z-index: 5;
    background: #fff;
    border: 1px solid #999;
    padding-top: 10px;
    color: #333333;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    font-size: 13px;
    &:before {
        content: '';
        border: 8px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        top: -16px;
        left: 111px;
        z-index: 1;
    }
    &:after {
        content: '';
        border: 9px solid transparent;
        border-bottom-color: #999;
        position: absolute;
        top: -18px;
        left: 110px;
    }
    .left_d {
        width: 75%;
        margin-right: 5px;
        text-align: left;
        padding-left: 10px;
        &:after {
            content: ':';
            float: right;
        }
    }
    .btncol {
        // margin-top: 8px;
        margin-top: 3px;
    }
    .btncol a.wpb_button_a {
        display: inline-block;
        overflow: hidden;
        span {
            font-size: 13px;
            margin-bottom: 0;
            padding: 8px 13px !important;
            height: 36px !important;
            line-height: 18px !important;
            &.left_b {
                margin-right: 4px;
            }
        }
    }
}


.btm_foot {
    background: #ebebeb;
    height: 39px;
    a {
        vertical-align: bottom;
        box-shadow: none;
        span {
            margin-bottom: 0;
            background: #909090;
            border-color: #848484;
            margin-top: 2px !important;
            line-height: normal !important;
            font-size: 13px;
            font-weight: normal !important;
        }
        &:hover {
            box-shadow: none;
            span {
                background: #7c7c7c;
                border-color: #6f6f6f;
                // box-shadow: none;
                text-shadow: none;
            }
        }
        &:active, &:focus {
            box-shadow: none;
            span {
                border-color: #686868;
                // box-shadow: none;
                text-shadow: none;
            }
        }
    }
    p {
        font-size: 13px;
        color: #666;
        vertical-align: middle;
        margin-bottom: 0;
        line-height: 35px;
    }
}
.blue_bg {
    background: #daeaec;
    color: #666666;
}



.inner-panels {
    display: none;
}
.inner-panels.current {
    display: block;
}


//gallery
.owl-carousel .item img.heightadjust {
    position: absolute;
    width: auto !important;
    max-width: none;
    height: 100% !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.no-csstransforms .owl-carousel .item img.heightadjust {
    top: 0 !important;
}


//gototop
.go_to_top_inpage {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 33px;
    height: 33px;
    background-image: url(img/backtotop.jpg);
    cursor: pointer;
    z-index: 25;
    &.serm {
        bottom: auto;
    }
}
.enquiry_sideways {
    background: #dadada;
    padding: 6px 15px;
    .fontmont;
    text-transform: uppercase;
    color: #0f0f0f;
    position: absolute;
    right: -66px;
    bottom: 180px;
    cursor: pointer;
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
    z-index: 25;
    &:hover {
        background: #e2e2e2;
        color: #0f0f0f;
    }
    i {
        display: inline-block;
        width: 17px;
        height: 16px;
        background-image: url(img/enq_sideways.png);
        background-repeat: no-repeat;
        background-position: center;
        float: left;
        margin-top: 3px;
        margin-right: 10px;
    }
}
.page-template-page-services {
    .enquiry_sideways {
        bottom: auto;
    }
}
.share_indi {
    padding: 0;
    vertical-align: bottom;
    width: 34px;
    height: 33px;
    display: inline-block;
    background-image: url(img/share_ico_white.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 300px;
    background-color: #838383;
    cursor: pointer;
    z-index: 25;
    .stButton .sharethis {background-image: none !important;}
}
.single-residential-property,
.single-commercial-property {
    .go_to_top_inpage {
        bottom: 179px;
    }
    .share_indi {
        bottom: 229px;
    }
    .enquiry_sideways {
        bottom: auto;
    }
}

/*table layoyt*/
.table-cover{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    .tabular_c{
        font-size: 0;
        padding-left: 0 !important;
        .left{
            position: absolute !important;
            top: 35% !important;
            left: 1px !important;
        }
        .right{
            position: absolute !important;
            right: 1px !important;
            top: 35% !important;
        }
        .tabul_hold{
            display: inline-block;
            /*&:not(:first-child){
                margin-left: -7px;
            }*/
            table{
                width: 100%;
                border-collapse: collapse;
                th{
                    background: #f8f8f8;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 35px;
                }
                td{
                    font-size: 13px;
                    line-height: 35px;
                }
            }
        }
    }
}
/*/table layout*/


@media screen and (max-width: 769px) {
    .single-residential-property .vc_sep_dashed h4:before {display: none;}
}

ul.ui-tabs-nav {
    // width: 100% !important;
    height: 43px;
    overflow: hidden;
}


//resposnive tabs and such
.head_show_in_mob {
    display: none;
    @media screen and (max-width: 769px) {
        display: block;
    }
}
.head_hide_in_mob {
    display: block;
    @media screen and (max-width: 769px) {
        display: none;
    }
}
//hide seperators in mobile
.single-residential-property .collapse-on .smallline, .single-commercial-property .smallline,
.single-residential-property .collapse-on .section_ender, .single-commercial-property .section_ender {
    @media screen and (max-width: 769px) {
        display: none;
        &.show_in_small {
            display: block;
            width: auto !important;
            margin: 0 -25px !important;
            height: 1px !important;
            background-color: #d1d1d1;
            padding: 0 !important;
            border: 0;
            font-size: 0;
            overflow: hidden;
        }
    }
}
@media screen and (max-width: 769px) {
    .single-residential-property .collapse-on .section_ender.show_in_small, .single-commercial-property .section_ender.show_in_small {
        background-color: #999;
    }
}
#prk_ajax_container .collapse-on.indi_prj_page.centered.prk_inner_block {
    .col_head_loc, .col_head_sec,
    .col_head_sec2, .col_head_sec3,
    .col_head_ame, .col_spec_wrap .prk_service {
        @media screen and (max-width: 769px) {
            h1, h2, h3, h4, h5, h6, .bd_headings_text_shadow {
                font-size: 18px;
                text-align: left !important;
                background-color: #fff;
                color: #444444;
                border-bottom: 1px solid #d1d1d1;
                padding: 19px 25px;
                cursor: pointer;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                margin-left: -25px;
                margin-right: -25px;
                &:after {
                    content: '+';
                    float: right;
                }
                br {display: none;}
            }
            &.toggle_open {
                h1, h2, h3, h4, h5, h6 {
                    text-align: left !important;
                    background-color: #939393;
                    color: #fff;
                    // padding-bottom: 15px;
                    // padding: 19px 25px;
                    &:after {
                        content: '-';
                        float: right;
                    }
                }
            }
        } //media 769 ends
    }
    //specific css that won't fit with general ones
    .add_padd .vc_col-sm-6:nth-child(2) > .wpb_wrapper {margin-top: 0;}
    @media screen and (max-width: 769px) {
    .vc_custom_heading {
        h1, h2, h3, h4, h5, h6 {margin-top: 34px;}
    }
    .col_head_sec3 {
        h1, h2, h3, h4, h5, h6 {font-size: 18px; border-bottom-color: #999999;}
    }
    .am_h.col_head_ame {
        margin-top: 0;
        h1, h2, h3, h4, h5, h6 {font-size: 18px; border-top: 1px solid #d1d1d1; border-bottom-color: #999999;}
    }
    .col_cont_loc, .col_cont_sec,
    .col_cont_sec2, .col_cont_sec3,
    .col_cont_ame {
        display: none;
        &.visi {
            width: auto !important;
            display: block;
            background-color: #f3f3f3;
            margin-top: 0;
            margin-left: -25px !important;
            margin-right: -25px !important;
            padding-left: 25px !important;
            padding-right: 25px !important;
            &.sec_int.wpb_text_column {
                p {
                    padding: 15px;
                    margin-bottom: 0 !important;
                }
            }
        }
        &:last-child {
            border-bottom: 1px solid #d1d1d1;
        }
    }
    }
    .wpb_column.vc_column_container .wpb_column.vc_column_container {
        margin-bottom: 0 !important;
    }
    .col_cont_sec, .col_cont_sec2, .col_cont_sec3 {
        @media screen and (max-width: 769px) {
            padding-top: 25px;
        }
    }

    //specifications
    @media screen and (max-width: 769px) {
        .col_cont_loc {
            .indi_map_cta{margin-bottom: 15px;}
        }
        .prk_service_ctt {
            margin-top: 0;
        }
        .col_spec_wrap.se_o_6 .wpb_column .wpb_wrapper .prk_service {
            min-height: 59px;
            &:last-child {min-height: 57px;}
            &.toggle_open {
                h3, h5 {
                    font-size: 18px;
                    padding-left: 70px;
                }
                & > div:nth-of-type(1) {
                    display: block;
                }
            }
            .service_inner_desc {
                display: none;
                padding: 15px;
                p {text-align: left !important;}
                &.visi {
                    display: block;
                }
            }
        }
    }
    .col_spec_wrap {
        @media screen and (max-width: 769px) {
            &.se_o_6 .wpb_column .wpb_wrapper .prk_service {
                margin-bottom: 0 !important;
                margin-left: -25px !important;
                margin-right: -25px !important;
                padding: 0;
                padding-left: 25px !important;
                padding-right: 25px !important;
                & > div:nth-of-type(1) {
                    position: absolute;
                    top: 10px;
                    left: 25px;
                    display: none;
                }
                &:first-child .prk_service_ctt {
                    h3.bd_headings_text_shadow, h5 {
                        border-top: 1px solid #d1d1d1;
                    }
                }
                &:last-child .prk_service_ctt {
                    h3.bd_headings_text_shadow, h5 {
                        border-bottom: 1px solid #999999;
                    }
                }
            }
            .vc_col-sm-4:last-child {
                .prk_service:last-child {
                    min-height: 59px !important;
                }
                .prk_service.toggle_open:last-child h3,
                .prk_service.toggle_open:last-child h5 {
                    color: #fff !important;
                }
            }
        }
    }
    @media screen and (max-width: 769px) {
        .col_down_wrap.do_3 .wpb_wrapper {
            margin: 0 -25px !important;
            padding: 0 25px !important;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 0;
                clear: both;
            }
            h5 {
                font-size: 18px;
                text-align: left !important;
                background-color: #fff;
                color: #444444;
                border-bottom: 1px solid #d1d1d1;
                padding: 19px 25px;
                cursor: pointer;
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                margin-left: -25px;
                margin-right: -25px;
                &:after {
                    content: '+';
                    float: right;
                }
                br {display: none;}
            }
            &.toggle_open {
                padding: 0 25px 15px 25px !important;
                border-bottom: 1px solid #d1d1d1;
                h5 {
                    background-color: #939393;
                    color: #fff;
                    &:after {
                        content: '-';
                        float: right;
                    }
                }
            }
            .wpb_button_a {
                display: none;
                max-width: 250px;
                margin: auto;
                &.visi {
                    display: block;
                }
                &:nth-of-type(1) {
                    margin-top: 25px;
                }
            }
        }
        .col_down_wrap.do_3 .vc_col-sm-4 {
            &:nth-of-type(1) {
                h5 {border-top: 1px solid #d1d1d1;}
            }
            &:nth-of-type(3) {
                h5 {border-bottom: 1px solid #999;}
            }
        }
        .col_down_wrap {
            // margin-bottom: -30px;
        }
        .formid_row {
            margin: 0 -25px !important;
            padding-left: 25px;
            padding-right: 25px;
            border-bottom: 1px solid #999;
        }
    }
}


//Sticky
.sticky.go_to_top_inpage {
    position: fixed;
    bottom: 35px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    .transition();
    &.visigoth {
        opacity: 1;
        visibility: visible;
    }
}
.sticky.enquiry_sideways {
    position: fixed;
    bottom: 150px;
    right: -65px;
    opacity: 0;
    visibility: hidden;
    .transition();
    &.visigoth {
        opacity: 1;
        visibility: visible;
    }
}

//floor plans - tab to slider
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tabs_nav.owl-carousel {
    margin-top: 0;
    // padding: 0 23px;
    .owl-buttons {
        top: 0;
        .owl-prev, .owl-next {
            margin: 0;
            height: 50px;
            line-height: 52px;
            padding: 0 7px;
            opacity: 0.5;
            &.disabled {
                opacity: 0.1;
            }
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
}