
.btn_norm {
    .btn_norm();
}

.page-template-project_list_new #prk_ajax_container {
    position: relative;
}

.mapView .bd_headings_text_shadow {
    display: none;
}
.mapView .main_with_sections {
    margin-top: 0;
}
#proj_list {
    margin-top: 180px !important;
}
@media screen and (max-width: 769px) {
    .top-dd-c {
        position: relative !important;
    }
    .top-compar {
        position: absolute !important;
    }
    #proj_list_main {
        margin-top: 80px;
    }
    #proj_list {
        margin-top: 99px !important;
    }
}
@media screen and (max-width: 767px) {
    #proj_list {
        margin-top: 0 !important;
    }
}

.project-list.row .single_p_w {
    // position: relative;
    opacity: 0;
    // .transition();
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    .single_p_img, .single_p_cap {
        position: relative;
        .transition();
    }
    &:nth-child(2n) {
        .single_p_img, .single_p_cap {
            left: -25px;
        }
    }
    &:nth-child(n) {
        .single_p_img, .single_p_cap {
            right: -25px;
        }
    }
    &.visigoth {
        opacity: 1;
        &:nth-child(2n) {
            .single_p_img, .single_p_cap {
                left: 0;
            }
        }
        &:nth-child(n) {
            .single_p_img, .single_p_cap {
                right: 0;
            }
        }
    }
}

// .proj_list {
    @media screen and (max-width: 769px) {
        // padding-top: 50px;
        .project-list.row .single_p_w, .project-list.row .last_one {
            width: 50% !important;
            float: left;
            padding: 0 20px;
            &:nth-child(n) {padding-right: 0;}
            &:nth-child(2n) {padding-left: 0;}
        }
    }
    @media screen and (min-width: 768px) and (max-width: 769px) {
        .project-list.row .single_p_w, .project-list.row .last_one {
            &:nth-child(n) {padding-right: 30px;padding-left: 14px;}
            &:nth-child(2n) {padding-left: 30px;padding-right: 14px;}
        }
        .project-list.row .columns {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    @media screen and (max-width: 480px) {
        .project-list.row .single_p_w.six.columns {
            width: 100% !important;
            float: none;
            padding: 0;
        }
    }
    @media screen and (min-width: 1367px) and (max-width: 1599px) {
        .project-list.row .single_p_w.six.columns {
            width: 33.33% !important;
        }
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
        .project-list.row .single_p_w.six.columns {
            width: 25% !important;
        }
    }
    @media screen and (min-width: 1920px) {
        .project-list.row .single_p_w.six.columns {
            width: 25% !important;
        }
    }
    [class*="column"]+[class*="column"]:last-child {
        float: left !important;
    }
    .top-dd-c {
        background: @grey-bg;
        padding: 25px 50px 15px;
        min-height: 72px;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        padding-left: 290px;

        @media screen and (max-width: 991px) {
            padding-left: 15px;
            padding-right: 15px;
            padding-left: 190px
        }
        @media screen and (max-width: 769px) {
            padding-left: 25px;
            padding-right: 25px;
        }
        @media screen and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .proj-showinmob {
        display: none;
        float: left;
        @media screen and (max-width: 767px) {
            display: block;
        }
        a.filter-btn {
            display: block;
            width: 37px;
            height: 33px;
            background-image: url(img/filter1.png);
            background-size: cover;
            -moz-background-size: cover;
            &.active {
                background-image: url(img/filter2.png);
            }
        }
    }
    .top-dd {
        display: inline-block;
        width: 150px;
        margin-right: 3px;
        position: relative;
        @media screen and (max-width: 1199px) {
            width: 100px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
        select {
            padding: 5px 8px;
            padding-right: 22px;
            border: 1px solid darken(@grey-bg, 12%);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
            background-color: #fff;
            background-image: url(img/dd_arr.png) !important;
            background-position-x: 99%;
            background-position-y: center;
            background-position: right 10px center;
            background-repeat: no-repeat;
            .fontopen;
            background-color: transparent;
            background-image: none;
            position: relative;
            z-index: 2;
            color: transparent;
            option {
                color: #444;
            }
            &:disabled {
                color: darken(@grey-bg, 25%);
            }
        }
        &.one {
            width: 16.66667%;
        }
    }
    .comp_top {
        display: none;
        a {
            display: block;
            width: 35px;
            height: 33px;
            background-image: url(img/compare_ico.png);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #d7d7d7;
            border: 1px solid #ccc;
        }

        @media screen and (max-width: 767px) {
            display: block;
        }
    }
    .top-sea {
        display: inline-block;
        display: none;
        .btn_norm {
            .btn_norm(4px; 20px);
            font-size: 20px;
        }
    }
    .top-view {
        text-align: right;
        a {
            display: inline-block;
            vertical-align: top;
            color: #fff;
            padding: 4px 10px;
            width: 35px;
            height: 32px;
            text-align: center;
            background-color: darken(@grey-bg, 7.8%);
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid darken(@grey-bg, 12%);
            i {display: none;}
            &.current {
                background-color: #fff;
                color: darken(@grey-bg, 52%);
                &.top_list {
                    background-image: url(img/listview.png);
                }
                &.top_map {
                    background-image: url(img/mapview.png);
                }
            }
            &.top_list {
                background-image: url(img/listview2.png);
            }
            &.top_map {
                background-image: url(img/mapview2.png);
            }
        }
    }
    //comparision
    .top-compar {
        position: fixed;
        width: 100%;
        top: 72px;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.95);

        padding: 25px 50px;
        @media screen and (max-width: 991px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media screen and (max-width: 769px) {
            top: 152px;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
        .drag_area {
            .fontmont;
            width: 210px;
            display: inline-block;
            text-align: center;
            font-size: 13px;
            border: 1px dashed #c2c2c2;
            padding: 12px;
            margin-right: 8px;
            vertical-align: middle;
            color: #A9A9A9;
            position: relative;
            @media screen and (min-width: 770px) and (max-width: 800px) {
                width: 170px;
            }
            &.over {
                border: 2px dashed #66afe9;
            }
            .before_drag {
                display: block;
            }
            .remove_from_comp {
                font-family: Arial;
                // padding-left: 1px;
                font-size: 19px;
                display: block;
                width: 32px;
                height: 48px;
                line-height: 48px;
                // border-radius: 50%;
                text-align: center;
                background-color: #f9f9f9; //was rgb(195, 2, 2);
                color: #333333;
                position: absolute;
                top: 0;
                right: 0;
                display: none;
            }
            .after_drag_content {
                display: none;
                text-align: center;
                padding: 6px 0;
                .dragged_title {margin-bottom: 0; color: #999;}
                .single_p_title {font-weight: bold; color: #000;}
                .single_p_location {}
            }
            &.after_drag {
                background: #f8f8f8;
                border: 1px solid #c2c2c2;
                // padding: 6px 0;
                padding: 0;
                line-height: 18px;
                vertical-align: middle;
                .before_drag {
                    display: none;
                }
                .after_drag_content {
                    display: block;
                }
                &:hover {
                    background-color: #f0f0f0;
                    border-color: #b5b5b5;
                    .remove_from_comp {
                        display: block;
                    }
                }
            }
        }
        .top_btn_co {
            .btn_norm(7px; 20px);
            text-transform: uppercase;
            margin-left: 8px;
            .fontmont;
            &.disabled {
                opacity: 0.2;
                cursor: default;
                background: #505050;
            }
        }
        @media screen and (max-width: 769px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    //projects list
    .project-list {
        padding: 5px 50px 25px;
        @media screen and (max-width: 991px) {
            padding: 5px 15px 25px;
        }
        .fontmont;
        @media screen and (max-width: 769px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        h5 {
            .fontmont;
            color: #333;
            font-size: 16px;
            margin-bottom: 30px;
            @media screen and (max-width: 769px) {
                margin-bottom: 15px;
                margin-top: 15px;
            }
        }
    }
        .single_p_w {
            margin: 0;
            margin-bottom: 27px;
            &:hover {
                .single_p_img {
                    .compare .comp_ico {
                        display: block;
                    }
                }
                .single_p_img .single_p_hov_c {
                    opacity: 1;
                    visibility: visible;
                }
                .single_p_img .compare {
                    .comp_ico {
                        background: url(img/compare_ico_02.png) no-repeat center center;
                    }
                }
            }
            &.added_for_compare {
                .single_p_img {
                    .compare .comp_ico {
                        display: block;
                    }
                }
            }
            .single_p_img {
                height: 192px;
                overflow: hidden;
                position: relative;
                z-index: 0;
                background-size: cover;
                -moz-background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                img {
                    width: 100%;
                    height: auto;
                    max-width: none;
                }
                .compare {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    padding: 10px;
                    z-index: 1;
                    .comp_ico {
                        float: right;
                        width: 45px;
                        height: 30px;
                        background: url(img/compare_ico_01.png) no-repeat center center;
                        display: none;
                        &:hover {
                            //background: url(img/compare_list_ico_hov.png) no-repeat center center;
                        }
                        @media screen and (max-width: 767px) {
                            display: none !important;
                        }
                    }
                    .compare_mob {
                        display: none;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        background: none;
                        border: 1px solid ;
                        color: #666;
                        background-image: url(img/compare_ico_mob.png);
                        background-position: left 10px center;
                        background-repeat: no-repeat;
                        padding: 7px 12px;
                        padding-left: 30px;
                        text-transform: uppercase;
                        @media screen and (max-width: 767px) {
                            display: block;
                        }
                    }
                }
                .single_p_hov_c {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(255,255,255,0.9);
                    border: 1px solid #ebebeb;
                    padding: 10px;
                    transition: all 0.5s;
                }
                .single_p_likes {
                    visibility: hidden; //remove this when the likes are needed
                    float: left;
                    background: #fff;
                    border: 1px solid #C0C0C0;
                    padding: 4px 9px;
                    color: darken(@grey-bg, 52%);
                }
                .single_p_info {
                    padding: 25px 0;
                    text-align: center;
                    h6 {text-transform: none; color: #000; margin-bottom: 4px;}
                }
                .single_btm {
                    position: absolute;
                    bottom: 2px;
                    left: 0;
                    width: 100%;
                    padding: 10px;
                    a.btn_norm {
                        .btn_norm(5px; 12px);
                        display: inline-block;
                        white-space: nowrap;
                        vertical-align: sub;
                        &:active, &:focus {
                            border-color: #3f3f3f;
                            box-shadow: inset 0 2px 3px rgba(0,0,0,0.3);
                        }
                    }
                    a.single_enq {
                        i {visibility: hidden;} //display none causes a shift in objects because
                                                //inline-block uses baseline to keep the objects inline
                        width: 38px;
                        height: 33px;
                        background-image: url(img/enquiry.png);
                        background-repeat: no-repeat;
                        background-position: center center;
                        cursor: pointer;
                        float: left;
                        margin-right: 5px;
                    }
                    a.single_know {
                        .fontmont;
                        text-transform: uppercase;
                        cursor: pointer;
                        white-space: nowrap;
                    }
                    a.single_share {
                        padding: 0;
                        vertical-align: bottom;
                        width: 36px;
                        height: 33px;
                        display: inline-block;
                        background-image: url(img/share_ico.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        cursor: pointer;
                        float: left;
                        * {
                            display: block;
                            height: 100%;
                            cursor: pointer;
                        }
                        .stButton .sharethis {background-image: none !important;}
                    }
                }
            }
            .single_p_cap {
                text-align: center;
                margin-top: 15px;
                a {color: darken(@grey-bg, 52%); text-decoration: none;}
                span {transition: all 0.5s;}
                .single_p_title {font-weight: bold; margin-right: 5px;}
                .single_p_light {color: #c5c5c5;}
                .single_p_location { margin-left: 5px;}

            }
            &:hover a {
                .single_p_title {color: #000;}
                .single_p_location {color: #000;}
            }
        }
    // }

    .projects_map iframe {
        width: 100%;
        height: 500px;
    }
// }


.ui-draggable-dragging {
    //list view
    &.single_p_w {
        z-index: 10;
        // width: 100% !important;
        background: #fff;
        border: 2px solid rgba(0,0,0,0.1);
        // .single_p_img {display: none;}
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        .single_p_cap {margin-top: 5px;}
        img {
            position: absolute;
            top: 0; left: 0;
            width: auto;
            height: 100%;
        }
    }
    //map view
    .map_info .map_btm {
        display: none;
    }
    .map_info_c {
        width: 337px;
        height: 133px;
        border: 2px solid rgba(0,0,0,0.1);
    }
}

//gMap styles
// #projects_listings {
    #projects_listings .gm-style-iw {
        width: 352px !important;
        height: 145px !important;
        top: 14px !important;
        left: 0 !important;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        @media screen and (max-width: 680px) {
            width: 302px !important;
        }
    }
    .map_info_c {
//        margin: 25px;

        position: relative;
        width: 352px;
        height: 145px;
        background: #fff;
        padding: 6px;
//        box-shadow: 0 0 3px rgba(0,0,0,0.5);

        @media screen and (max-width: 680px) {
            width: 310px;
        }
        .btn_norm {
            //.btn_norm(5px; 12px);
//            display: inline-block;
            float: left;
            font-size: 14px;
            border: 1px solid #555;
            border-right-width: 0;
            padding: 4px 12px; //was 10px 12px
            background-color: #666;
            border: 1px solid #555;
            &:hover {
                background-color: #505050;
                border-color: #3f3f3f;
                color: #fff;
            }
            &:active {
                background-color: #505050;
                border-color: #3b3b3b;
                color: #fff;
                box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.27);
            }
        }
        .img_cont {
            width: 100%;
            max-width: 132px;
            height: 132px;
            margin-right: 6px;
            overflow: hidden;
            position: absolute;
            img {
                position: absolute;
                min-height: 100%;
                min-width: 100%;
            }
        }
        .map_info {
            margin-left: 140px;
            font-size: 14px;
            text-align: left;
            .fontopen;
            a.map_p_title {
                color: darken(@grey-bg, 52%);
                text-decoration: none;
                .fontmont;
            }
            span {transition: all 0.5s;}
            .single_p_title {font-weight: bold; margin-right: 5px;}
            .single_p_light {color: #c5c5c5;}
            .single_p_location { margin-left: 5px;}
            .map_excerpt {
                margin-bottom: -1px;
                line-height: 17px;
                margin-top: 2px;
                font-size: 12px;
            }
            p {
                color: #333;
            }
        }
        .map_btm {
            position: absolute;
            left: 145px;
            bottom: 6px;
            width: 201px;
            @media screen and (max-width: 680px) {
                width: 151px;
            }
        }
        a.single_enq {
            i {visibility: hidden;} //display none causes a shift in objects because
                                    //inline-block uses baseline to keep the objects inline
            width: 38px;
            height: 33px;
            background-image: url(img/enquiry.png);
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
        }
        a.single_compare {
            width: 38px;
            height: 33px;
            background-image: url(img/compare_ico.png);
            background-repeat: no-repeat;
            background-position: center center;
            border-right-width: 1px;
            border-left-color: #afafaf;
        }
        a.single_share {
            border-left-color: #afafaf;
            height: 33px;
            cursor: pointer;
            // .stButton .sharethis {background-image: none !important;}
        }
        a.single_know {
            width: 38px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
    }
// }

.last_one {
    width: 100%;
    .last_one_t {
        height: 192px;
        background-color: #f5f5f5;
        border: 1px solid #d2d2d2;
        text-align: center;
        h4 {
            font-size: 15px;
            text-transform: none;
            color: #757575;
            font-weight: normal;
            margin-top: 25px;
        }
        p {
            font-family: 'Open Sans';
            font-size: 13px;
            line-height: 20px;
            color: #0b0b0b;
            // width: 75%;
            margin: 20px auto;
            margin-bottom: 25px;
        }
        a {
            text-transform: uppercase;
            font-size: 12px;
            .fontmont;
            padding: 10px 12px;
            background-color: #666;
            border: 1px solid #555;
            color: #fff;
            &:hover {
                background-color: #505050;
                border-color: #3f3f3f;
                color: #fff;
            }
            &:active {
                background-color: #505050;
                border-color: #3b3b3b;
                color: #fff;
                box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.27);
            }
        }
    }
}

.draggable {
    cursor: move;
    &.active, * {
        cursor: move;
    }
}

.map_btm {
    a.single_share {
        padding: 0;
        vertical-align: bottom;
        width: 36px;
        height: 33px;
        display: inline-block;
        background-image: url(img/share_ico.png);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        background-size: 40%;
        * {
            cursor: pointer;
            display: block;
            height: 100%;
        }
        .stButton .sharethis {background-image: none !important;}
    }
    a.single_share {
        border-left-color: #afafaf;
        height: 33px;
        cursor: pointer;
    }
}

//Form popup in list page
.popmake .frm_forms.with_frm_style.frm_style_formidable-style .frm_form_fields .form-in-popup-has-width .frm_form_field.form-field {
    width: 67%;
    @media screen and (max-width: 769px) {
        width: 100%;
    }
}
.popmake.responsive {
    @media screen and (max-width: 480px) {
        width: 100%;
        left: 0 !important;
    }
}