.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.vc_separator h4 {
  font-weight: 400;
}
.with_frm_style .limit-width .form-field .placeholder {
  font-style: normal;
}
@media screen and (max-width: 767px) {
  #single_page_teaser {
    padding: 0 20px;
  }
}
.lisofwork {
  padding-bottom: 15px;
}
.lisofwork .row {
  margin: 0;
}
.lisofwork .vc_col-sm-4.wpb_column.vc_column_container {
  padding: 0;
  margin-bottom: 0;
}
.lisofwork .wpb_wrapper {
  margin: 1px;
  padding: 15px;
  background: #F3F3F3;
  text-align: center;
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.5), inset 0 0 0 0 #ffffff;
  transition: all 0.5s linear;
  transition-delay: 0;
}
.lisofwork .wpb_wrapper h3.header_font {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 20px;
  color: #333;
}
.lisofwork .wpb_wrapper p {
  margin-bottom: 10px;
  color: #666;
}
.lisofwork .wpb_wrapper a.openings_link {
  font-weight: bold;
  display: block;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #145994;
}
.lisofwork .wpb_wrapper:hover {
  box-shadow: inset 0 0 100px 800px rgba(255, 255, 255, 0.5), inset 0 0 16px 0px #ffffff;
  transition: all 0.5s linear;
  transition-delay: 0;
}
.tablejob {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
.tablejob .job_title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.tablejob a.wpb_button_a span.wpb_button {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: normal;
}
.service .wpb_column.vc_column_container {
  margin-bottom: 0;
}
.service .top-dd-c {
  margin-bottom: 35px;
}
.service .forent .wpb_wrapper {
  min-height: 226px;
  background: #F3F3F3;
}
.service .forent .partintro {
  margin-top: 25px;
  margin-bottom: 35px;
}
.service .forent .partintro .img_hold {
  line-height: 0;
}
.service .forent .partintro .introtext .wpb_wrapper {
  padding: 25px 35px;
}
.service .forent .partintro .introtext .wpb_wrapper a.proj_title {
  font-family: 'Montserrat', sans-serif;
  color: #666;
  margin-bottom: 15px;
  display: block;
}
.service .forent .partintro .introtext .wpb_wrapper a.proj_title span.title {
  font-weight: bold;
}
.service .list_forent {
  margin-bottom: 45px;
}
.service .list_forent .wpb_wrapper {
  padding: 8px;
}
.service .list_forent .top-tab {
  background: #fff;
}
.service .list_forent .top-tab .top_inner {
  display: table;
  width: 100.5%;
  table-layout: fixed;
  border-right: 1px solid #d5d5d5;
}
.service .list_forent .top-tab .set {
  display: table-cell;
  border: 1px solid #D5D5D5;
  border-right: 0;
  padding: 12px 15px;
}
.service .list_forent .top-tab .set:nth-child(1) {
  width: 26%;
}
.service .list_forent .top-tab .set:nth-child(2) {
  width: 20%;
}
.service .list_forent .top-tab small,
.service .list_forent .top-tab big {
  color: #333;
}
.service .list_forent .top-tab small.clr_lt {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: #666;
}
.service .list_forent .top-tab small {
  font-size: 12px;
}
.service .list_forent .top-tab big {
  font-size: 18px;
}
.service .list_forent .top-tab .top_rent {
  padding: 15px;
}
.service .list_forent .top-tab .top_rent big {
  font-size: 22px;
  display: inline-block;
  margin-top: 5px;
}
@media screen and (min-width: 767px) and (max-width: 1000px) {
  .service .list_forent .top-tab .top_inner {
    border: 0;
  }
  .service .list_forent .top-tab .set {
    display: block;
    width: 100%;
    border: 1px solid #D5D5D5;
    border-bottom: 0;
  }
  .service .list_forent .top-tab .set:nth-child(1),
  .service .list_forent .top-tab .set:nth-child(2) {
    width: 100%;
  }
  .service .list_forent .top-tab .set:last-child {
    border-bottom: 1px solid #D5D5D5;
  }
}
.service .list_forent .btm_footer a {
  display: block;
  margin-top: 12px;
  padding: 0;
}
.service .list_forent .btm_footer a.enq_ico span {
  background-image: url(img/enquiry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.service .list_forent .btm_footer a span {
  padding: 5px 18px;
  display: block;
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  height: 35px;
}
@media screen and (max-width: 767px) {
  #main {
    padding: 25px;
  }
  #main .tablejob .prk_inner_block .row {
    text-align: center;
  }
}
.btn_norm {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 8px 10px;
}
.mapView .bd_headings_text_shadow {
  display: none;
}
.mapView .main_with_sections {
  margin-top: 0;
}
.proj_list .top-dd-c,
.service .top-dd-c {
  background: #ebebeb;
  padding: 25px 50px 15px;
}
.proj_list .top-dd,
.service .top-dd {
  display: inline-block;
  width: 150px;
  margin-right: 3px;
}
.proj_list .top-dd select,
.service .top-dd select {
  padding: 5px 8px;
  border: 1px solid #cccccc;
  font-family: 'Montserrat', sans-serif;
}
.proj_list .top-dd select:disabled,
.service .top-dd select:disabled {
  color: #ababab;
}
.proj_list .top-sea,
.service .top-sea {
  display: inline-block;
}
.proj_list .top-sea .btn_norm,
.service .top-sea .btn_norm {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 4px 20px;
  font-size: 20px;
}
.proj_list .top-view,
.service .top-view {
  text-align: right;
}
.proj_list .top-view a,
.service .top-view a {
  display: inline-block;
  color: #fff;
  padding: 4px 10px;
  width: 35px;
  text-align: center;
  background: #d7d7d7;
  border: 1px solid #cccccc;
}
.proj_list .top-view a.current,
.service .top-view a.current {
  background: #fff;
  color: #666666;
}
.proj_list .top-compar,
.service .top-compar {
  padding: 25px 50px;
}
.proj_list .top-compar .drag_area,
.service .top-compar .drag_area {
  font-family: 'Montserrat', sans-serif;
  width: 210px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border: 1px dashed #c2c2c2;
  padding: 12px;
  margin-right: 8px;
  color: #A9A9A9;
}
.proj_list .top-compar .top_btn_co,
.service .top-compar .top_btn_co {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 7px 20px;
  text-transform: uppercase;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
}
.proj_list .top-compar .top_btn_co.disabled,
.service .top-compar .top_btn_co.disabled {
  opacity: 0.2;
}
.proj_list .project-list,
.service .project-list {
  padding: 5px 50px 25px;
  font-family: 'Montserrat', sans-serif;
}
.proj_list .project-list h5,
.service .project-list h5 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 16px;
  margin-bottom: 30px;
}
.proj_list .project-list .single_p_w,
.service .project-list .single_p_w {
  margin: 0;
}
.proj_list .project-list .single_p_w:hover .single_p_img .single_p_hov_c,
.service .project-list .single_p_w:hover .single_p_img .single_p_hov_c {
  opacity: 1;
  visibility: visible;
}
.proj_list .project-list .single_p_w .single_p_img,
.service .project-list .single_p_w .single_p_img {
  height: 192px;
  overflow: hidden;
  position: relative;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_hov_c,
.service .project-list .single_p_w .single_p_img .single_p_hov_c {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ebebeb;
  padding: 10px;
  transition: all 0.5s;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_likes,
.service .project-list .single_p_w .single_p_img .single_p_likes {
  float: left;
  background: #fff;
  border: 1px solid #C0C0C0;
  padding: 4px 9px;
  color: #666666;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_info,
.service .project-list .single_p_w .single_p_img .single_p_info {
  padding: 25px 0;
  text-align: center;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_info h6,
.service .project-list .single_p_w .single_p_img .single_p_info h6 {
  text-transform: none;
  color: #000;
  margin-bottom: 4px;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm,
.service .project-list .single_p_w .single_p_img .single_btm {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding: 10px;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.single_enq,
.service .project-list .single_p_w .single_p_img .single_btm a.single_enq {
  width: 38px;
  height: 33px;
  background-image: url(img/enquiry.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.single_enq i,
.service .project-list .single_p_w .single_p_img .single_btm a.single_enq i {
  visibility: hidden;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.btn_norm,
.service .project-list .single_p_w .single_p_img .single_btm a.btn_norm {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 5px 12px;
  display: inline-block;
}
.proj_list .project-list .single_p_w .single_p_cap,
.service .project-list .single_p_w .single_p_cap {
  text-align: center;
  margin-top: 20px;
}
.proj_list .project-list .single_p_w .single_p_cap a,
.service .project-list .single_p_w .single_p_cap a {
  color: #666666;
  text-decoration: none;
}
.proj_list .project-list .single_p_w .single_p_cap span,
.service .project-list .single_p_w .single_p_cap span {
  transition: all 0.5s;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_title,
.service .project-list .single_p_w .single_p_cap .single_p_title {
  font-weight: bold;
  margin-right: 5px;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_light,
.service .project-list .single_p_w .single_p_cap .single_p_light {
  color: #c5c5c5;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_location,
.service .project-list .single_p_w .single_p_cap .single_p_location {
  margin-left: 5px;
}
.proj_list .project-list .single_p_w:hover a .single_p_title,
.service .project-list .single_p_w:hover a .single_p_title {
  color: #000;
}
.proj_list .project-list .single_p_w:hover a .single_p_location,
.service .project-list .single_p_w:hover a .single_p_location {
  color: #000;
}
.proj_list .projects_map iframe,
.service .projects_map iframe {
  width: 100%;
  height: 500px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].left {
  padding-right: 5px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].left .wpb_raw_html iframe {
  width: 100%;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].right {
  padding-left: 5px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].right h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}
@media screen and (max-width: 767px) {
  .cont_sp.vc_row-fluid [class*="vc_col-sm-"].left {
    padding-right: 0;
  }
  .cont_sp.vc_row-fluid [class*="vc_col-sm-"].right {
    padding-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .prk_service.prk_service_left .prk_service_ctt {
    margin-left: 30px;
  }
  .vc_col-sm-6 .prk_service {
    padding-right: 30px;
  }
}
.placeholder::-webkit-input-placeholder {
  color: #999999;
}
.placeholder:-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
}
.placeholder::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
}
.placeholder:-ms-input-placeholder {
  color: #999999;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block {
  background: #fff;
  margin-top: 677px;
  padding-top: 25px;
}
@media screen and (max-width: 767px) {
  #prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block h4,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block h5 {
  margin-top: 25px;
  margin-bottom: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block h5 {
  font-size: 18x;
  text-transform: uppercase;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_text_column p {
  margin-bottom: 25px !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper {
  position: relative;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper .boxed_shadow {
  -webkit-box-shadow: 0 0 0 #fff;
  box-shadow: 0 0 0 #fff;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper .prk_shortcode-title {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_single_image .wpb_wrapper .prk_shortcode-title div {
  color: #fff;
  font-size: 13px;
  padding: 13px 20px;
  margin: 0;
  font-weight: normal;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_call_to_action .wpb_button_a span {
  background: #666;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_call_to_action .wpb_button_a .wpb_arrow i {
  background: none;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_call_to_action .wpb_button_a .wpb_arrow i:after {
  content: '\f105';
  font-family: 'FontAwesome';
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .archi_si {
  margin-top: 45px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .la_g .wpb_wrapper {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .la_g .vc_column_container {
  margin-bottom: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .am_h {
  margin-top: 55px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .am_d {
  padding-bottom: 10px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .m_t_b_m {
  padding-top: 10px;
  padding-bottom: 25px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_tabs {
  margin-bottom: 50px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .wpb_video_widget {
  margin-top: 25px;
  padding-bottom: 5px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .m_t_m {
  padding-top: 10px;
  padding-bottom: 10px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .vc_separator.section_ender {
  width: 60%;
  margin: 15px auto;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .vc_separator.section_ender .vc_sep_holder {
  height: 1px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .vc_separator.section_ender .vc_sep_holder .vc_sep_line {
  border-color: #D1D1D1;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .row,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .row,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .row {
  margin: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column {
  padding: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column .wpb_wrapper .prk_service,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column .wpb_wrapper .prk_service {
  background: #f3f3f3;
  margin-left: 1px;
  margin-right: 1px;
  padding: 25px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column .wpb_wrapper .prk_service h3,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service h3,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column .wpb_wrapper .prk_service h3 {
  display: none;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .le_p_m .wpb_column .wpb_wrapper .prk_service img,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service img,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_column .wpb_wrapper .prk_service img {
  padding-bottom: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service img {
  transform: scale(1, 1);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service h3 {
  display: block;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2px;
  text-shadow: 0 0 0 #fff;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service .simple_line {
  display: none;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service .fade_anchor {
  display: block;
  padding: 5px 25px;
  background: #999;
  color: #fff !important;
  position: absolute;
  width: 100%;
  bottom: -100%;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service:hover img {
  transform: scale(0, 0);
  opacity: 0;
  visibility: hidden;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service:hover h3 {
  color: #666;
  margin-top: -50px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .se_o_6 .wpb_column .wpb_wrapper .prk_service:hover .fade_anchor {
  bottom: 0;
  opacity: 1;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 {
  margin-top: 25px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper {
  padding: 25px 70px;
  margin: 1px;
  background: #F3F3F3;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper h5 {
  margin-top: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a {
  display: block;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: normal;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.half {
  width: 49%;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.half.left {
  float: left;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.half.right {
  float: right;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_btn-inverse {
  background: #909090;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .do_3 .wpb_wrapper a span.wpb_regularsize {
  border-color: #848484;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol {
  font-size: 0;
  text-align: center;
  clear: both;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a {
  display: inline-block;
  font-size: 13px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .sep {
  margin-left: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .icon {
  background: none;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  font-style: normal;
  padding-top: 3px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .icon:after {
  content: '\f1c1';
  font-family: 'FontAwesome';
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a .white {
  background: #fff;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .btncol .wpb_button_a span {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel {
  margin-top: 20px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .owl-controls {
  top: 35%;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel a.image-popup-no-margins {
  display: block;
  height: 170px;
  overflow: hidden;
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 0 3px #ffffff, 0 0 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel a.image-popup-no-margins:after {
  content: '\f00e';
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #fff;
  background: #000000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 27%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .item:hover .owl-carousel-item-imgoverlay {
  background: transparent;
  color: #444;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .item:hover .image-popup-no-margins {
  top: -5px;
  opacity: 1;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .item:hover .image-popup-no-margins:after {
  opacity: 0.6;
  visibility: visible;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .owl-carousel-item-imgoverlay {
  display: block;
  opacity: 1;
  position: relative;
  text-shadow: 0 0 0 #fff;
  color: #666;
  transition: all 0.5s;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .owl-carousel .owl-carousel-item-imgoverlay .owl-carousel-item-imgtitle {
  font-size: 14px;
  padding-top: 5px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row {
  background: #f3f3f3;
  margin: 30px 0;
  margin-bottom: 0;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t {
  width: 50%;
  margin: 0 auto;
  float: none;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_form_fields .frm_form_field input,
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_form_fields .frm_form_field textarea {
  padding: 8px 12px !important;
  width: 100% !important;
  font-style: normal !important;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit {
  text-align: center;
  padding-bottom: 15px;
}
#prk_ajax_container .indi_prj_page.columns.centered.prk_inner_block .formid_row .le_form_t .frm_submit input {
  text-transform: uppercase;
  font-family: 'Montserrat';
}
.indi_pr.nri_fullrow {
  margin-top: 0;
  margin-bottom: 0;
}
.indi_pr.nri_fullrow h5 {
  font-size: 18x;
  text-transform: uppercase;
}
.indi_pr.nri_fullrow .wpb_button_a span {
  background: #666;
}
.sec_int {
  font-size: 15px;
  width: 89%;
  margin: 0 auto;
}
.sec_int p {
  font-size: 15px;
}
.add_padd .wpb_wrapper:nth-child(1) {
  padding-left: 12px;
}
.add_padd .wpb_wrapper:nth-child(2) {
  padding-right: 12px;
}
.compare .bd_headings_text_shadow {
  display: none;
}
.samba_theme .compare .with_title {
  margin-top: 0;
}
.compare_c .info_bar {
  background: #EBEBEB;
  padding: 25px 50px 14px;
  font-family: 'Montserrat', sans-serif;
}
.compare_c .info_bar p {
  display: inline-block;
  margin-left: 10px;
  color: #333;
  font-size: 15px;
}
.compare_c .info_bar p a {
  color: #333;
  font-weight: bold;
}
.compare_c .info_bar a.back_btn {
  margin-bottom: 0;
  background: #EBEBEB;
  border-color: #999;
}
.compare_c .info_bar a.back_btn:hover {
  background: #fafafa;
}
.compare_c .info_bar a.back_btn i {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .compare_c .info_bar {
    text-align: center;
  }
  .compare_c .info_bar p {
    display: block;
    margin-top: 10px;
  }
}
.compare_c .compare_i_c {
  padding: 25px 50px;
}
.compare_c .compare_i_c table {
  width: 100%;
}
.compare_c .compare_i_c th {
  border-left: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}
.compare_c .compare_i_c th:last-child {
  border-right: 1px solid #EBEBEB;
}
.compare_c .compare_i_c th.with_img {
  width: 38%;
  padding: 7px;
}
.compare_c .compare_i_c th .single_p_inf a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: #666;
  padding: 10px 5px 0;
}
.compare_c .compare_i_c th .single_p_inf a .single_p_location {
  font-weight: normal;
}
.compare_c .compare_i_c th:first-child,
.compare_c .compare_i_c td:first-child {
  background: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #666;
}
.compare_c .compare_i_c td {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  padding: 10px 15px;
  text-align: center;
}
.compare_c .compare_i_c td:last-child {
  border-right: 1px solid #CCC;
}
.compare_c .compare_i_c tr.head-row td {
  background: #F8F8F8;
  text-transform: uppercase;
}
.compare_c .compare_i_c tr:last-child td {
  border-bottom: 1px solid #CCC;
}
.compare_c .compare_i_c tr.darker-bg td {
  background: #EAEEEE;
}
.compare_c .compare_i_c tr td.da {
  background: #F2F6F6;
}
.compare_c .compare_i_c .yes {
  display: block;
  width: 20px;
  height: 19px;
  margin: 0 auto;
  background: url(img/yes.png) center center no-repeat;
}
.compare_c .compare_f {
  margin-top: 50px;
  padding: 25px 50px;
  background: #EBEBEB;
  text-align: center;
}
.compare_c .compare_f .foot_head {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #757575;
  margin-bottom: 10px;
}
.compare_c .compare_f a {
  background: #666;
  padding: 5px 14px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 15px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 680px) {
  .compare_c .info_bar {
    padding: 25px 20px 14px;
  }
  .compare_c .compare_i_c {
    padding: 25px 20px;
  }
}
