.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.vc_separator h4 {
  font-weight: 400;
}
.with_frm_style .limit-width .form-field .placeholder {
  font-style: normal;
}
.btn_norm {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 8px 10px;
}
.proj_list .top-dd-c {
  background: #ebebeb;
  padding: 25px 25px 15px;
}
.proj_list .top-dd {
  display: inline-block;
  width: 150px;
  margin-right: 3px;
}
.proj_list .top-dd select {
  padding: 5px 8px;
  border: 1px solid #cccccc;
  font-family: 'Montserrat', sans-serif;
}
.proj_list .top-dd select:disabled {
  color: #ababab;
}
.proj_list .top-sea {
  display: inline-block;
}
.proj_list .top-sea .btn_norm {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 4px 20px;
  font-size: 20px;
}
.proj_list .top-view {
  text-align: right;
}
.proj_list .top-view a {
  display: inline-block;
  color: #fff;
  padding: 4px 10px;
  width: 35px;
  text-align: center;
  background: #d7d7d7;
  border: 1px solid #cccccc;
}
.proj_list .top-view a.current {
  background: #fff;
  color: #666666;
}
.proj_list .top-compar {
  padding: 25px;
}
.proj_list .top-compar .drag_area {
  font-family: 'Montserrat', sans-serif;
  width: 210px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  border: 1px dashed #c2c2c2;
  padding: 12px;
  margin-right: 8px;
  color: #A9A9A9;
}
.proj_list .top-compar .top_btn_co {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 7px 20px;
  text-transform: uppercase;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
}
.proj_list .top-compar .top_btn_co.disabled {
  opacity: 0.2;
}
.proj_list .project-list {
  padding: 5px 25px 25px;
  font-family: 'Montserrat', sans-serif;
}
.proj_list .project-list h5 {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 16px;
  margin-bottom: 30px;
}
.proj_list .project-list .single_p_w {
  margin: 0;
}
.proj_list .project-list .single_p_w:hover .single_p_img .single_p_hov_c {
  opacity: 1;
  visibility: visible;
}
.proj_list .project-list .single_p_w .single_p_img {
  height: 192px;
  overflow: hidden;
  position: relative;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_hov_c {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ebebeb;
  padding: 10px;
  transition: all 0.5s;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_likes {
  float: left;
  background: #fff;
  border: 1px solid #C0C0C0;
  padding: 4px 9px;
  color: #666666;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_info {
  padding: 25px 0;
  text-align: center;
}
.proj_list .project-list .single_p_w .single_p_img .single_p_info h6 {
  text-transform: none;
  color: #000;
  margin-bottom: 4px;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  padding: 10px;
}
.proj_list .project-list .single_p_w .single_p_img .single_btm a.btn_norm {
  border: 0;
  background: #666666;
  color: #d1d1d1;
  padding: 5px 12px;
  display: inline-block;
}
.proj_list .project-list .single_p_w .single_p_cap {
  text-align: center;
  margin-top: 20px;
}
.proj_list .project-list .single_p_w .single_p_cap a {
  color: #666666;
  text-decoration: none;
}
.proj_list .project-list .single_p_w .single_p_cap span {
  transition: all 0.5s;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_title {
  font-weight: bold;
  margin-right: 5px;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_light {
  color: #c5c5c5;
}
.proj_list .project-list .single_p_w .single_p_cap .single_p_location {
  margin-left: 5px;
}
.proj_list .project-list .single_p_w:hover a .single_p_title {
  color: #000;
}
.proj_list .project-list .single_p_w:hover a .single_p_location {
  color: #000;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].left {
  padding-right: 5px;
}
.cont_sp.vc_row-fluid [class*="vc_col-sm-"].right {
  padding-left: 5px;
}
